/* set spacing on 0 */

body {
	padding: 0;
	margin: 0;
}

/* navigate panels - big div, which contains rest in itself */

.categorytop {
  overflow: hidden;
	background-color: #333;
	width: 100%;
}

/* linking sublists after navigating mouse on button */

/* top menu panel */
/* link_top is a div which contains whole */

.link_top {
  float: left;
  margin-right: 10px;
	overflow: hidden;
}

.link_top .linkbutton {
  margin: 0;
  font-size: 30px;
	border: none;
	outline: none;
	color: white;
  background-color: #333;
}

.categorytop a:hover, .link_top:hover .linkbutton {
  background-color: red;
}

.sublink_top {
	display: none;
  position: absolute;
  left: 0;
  font-size: 25px;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.sublink_top a{
  left: 0;
  color: white;
	margin-right: 20px;
  text-decoration: none;
}

.sublink_top a:hover {
	background-color: #eee;
  color: black;
}

.link_top:hover .sublink_top {
  display: block;
}

/* left menu panel */

.verticalpanel {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
  margin-top: 70px;
  width: 170px;
	position: fixed;
}

.verticalmenu, .verticalsubmenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.verticalmenu a{
	display: block;
  background-color: #333;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.verticalmenu a:hover {
  background-color: red;
}

.verticalmenu li > .verticalsubmenu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-left: 170px;
	margin-top: -39px;
}

.verticalmenu li:hover > .verticalsubmenu {
	opacity: 1;
	visibility: visible;
}

.verticalsubmenu a {
  background-color: #999;
}

.verticalsubmenu a:hover {
  background-color: #666;
}

/* content of already set page */

.main {
	margin-left: 170px;
	margin-top: 70px;
	padding: 0px 10px;
	border: none;
}

.main .content p {
	font-weight: bold;
	font-size: 50px;
}
